<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iqianjin.client.hotfix.robust">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <service android:name="com.iqianjin.client.hotfix.robust.CrashReportService" />
    </application>
</manifest>
